<header class="dark-header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Основное меню -->
            <div class="col-md-6">
                <div class="menu">
                    <!-- Десктопное меню -->
                    {% include "include/layouts/menu_desktop.html" %}

                    <!-- Мобильное меню -->
                    {% include "include/layouts/menu_mobile.html" %}
                </div>
            </div>

            <!-- Правая часть - две ссылки -->
            <div class="col-md-6 d-flex justify-content-end">
                {% if not user.is_authenticated %}
                    <a href="/users/login" class="btn btn-link text-white me-2">Войти</a>
                {% else %}
                    <a href="" class="btn btn-link text-white">{{ user.first_name }}</a>
                    <a href="/users/logout" class="btn btn-link text-white">Выйти</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>