
<div class="mobile-menu d-md-none">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileMenuContent">
        <span class="navbar-toggler-icon text-white">☰</span>
    </button>

    <div class="collapse navbar-collapse" id="mobileMenuContent">
        <div class="menu-item-group">
            {% for menu in menu_items %}
                <div class="menu-item-group__title">
                    <a href="{{ menu.url }}">{{ menu.title }}</a>
                </div>
                {% if menu.sub_items %}
                    <div class="menu-item-group__actions d-flex flex-column">
                        {% for sub_item in menu.sub_items %}
                            <div class="menu-item-group__actions__action">
                                <a href="{{ sub_item.url }}">{{ sub_item.title }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</div>